@import "tailwindcss";

:root {
  --primary-bg: white;
  --primary-fg: black;
}

.dark {
  --primary-bg: black;
  --primary-fg: white;
}

@theme {
  --color-primary-bg: var(--primary-bg);
  --color-primary-fg: var(--primary-fg);
}
