@import "tailwindcss";

:root {
  --primary-bg: white;
  --primary-fg: black;
}

.dark {
  --primary-bg: black;
  --primary-fg: white;
}

@theme {
  --color-primary-bg: var(--primary-bg);
  --color-primary-fg: var(--primary-fg);
}

.transition-dropdown {
  transition-property: scale, opacity;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
